PORT=4000
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:4000
GOOGLE_CLIENT_ID= #Your google client id
GOOGLE_CLIENT_SECRET= #Your google client secret
JWT_SECRET=jwtsceret
DATABASE_URL= #postgres db url
EMAIL_USER= #gmail service auth username
EMAIL_PASS= #gamil service auth password